DROP USER IF EXISTS '${MYSQL_USER_GHOST}';
CREATE USER '${MYSQL_USER_GHOST}'@'%';
CREATE DATABASE IF NOT EXISTS ${MYSQL_DATABASE_GHOST};
GRANT ALL ON ${MYSQL_DATABASE_GHOST}.* TO '${MYSQL_USER_GHOST}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD_GHOST}';