DROP USER IF EXISTS '${MYSQL_USER_NEXTCLOUD}';
CREATE USER '${MYSQL_USER_NEXTCLOUD}'@'%';
CREATE DATABASE IF NOT EXISTS ${MYSQL_DATABASE_NEXTCLOUD};
GRANT ALL ON ${MYSQL_DATABASE_NEXTCLOUD}.* TO '${MYSQL_USER_NEXTCLOUD}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD_NEXTCLOUD}';